nav a {
  color: yellow;
}

.nav-link {
  color: black;
}

nav a.nav-link {
  color: red;
}

nav a.nav-link#link-1 {
  color: orange;
}

html div p {
  color: green;
}

body div p {
  color: brown;
}
